{% extends 'base.html' %}
{% block content %}
    <div class="ques-div">
        <form method="post">
            <h2 class="qnum">Question {{q.id}}</h2>
            <div class="dotted-spaced"></div>
            <hr>
            <h1 class="ques-heading">{{q.question}}</h1>
            <div class="options-div">
                {% for key, value in choices.items() %}
                    <div class="form-check">
                        {% if is_multi_select %}
                            <input class="form-check-input" type="checkbox" name="options" value="{{ key }}" id="choice-{{ key }}">
                        {% else %}
                            <input class="form-check-input" type="radio" name="options" value="{{ key }}" id="choice-{{ key }}">
                        {% endif %}
                        <label class="form-check-label" for="choice-{{ key }}">
                            {{ value }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary btn-lg sub-btn" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
